.toolbar-spacer {
  flex: auto;
}

.content {
  padding: 12px clamp(4px, 8vw - 35px, 24px);
}

.mat-form-field {
  flex: auto;
  padding-right: 12px;
}

.mat-form-field:first-child {
  width: 100px;
}

.mat-form-field:last-child {
  width: 200px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.action-col {
  margin-right: 0;
  margin-top: 8px;
}

.icon-col {
  align-self: center;
  padding-right: 4px;
}

.small-button {
  line-height: 24px;
}
