.responsive-padding {
    padding: 12px clamp(4px, 8vw - 35px, 24px);
}

.new-note-form {
    padding-top: 12px;
    display: flex;
    flex-direction: row;
}

.full-width {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.multiline {
    white-space: pre-wrap;
}

.mat-card-subtitle button {
    float: right;
}

.menu-entry {
    margin: 8px 15px;
}
