<form class="new-note-form responsive-padding">
  <mat-form-field class="full-width">
    <textarea matInput [formControl]="newNoteTextArea" placeholder="Post new note" cdkTextareaAutosize></textarea>
  </mat-form-field>
  <button mat-icon-button type="button" (click)="postNote()" [disabled]="!newNoteTextArea.value" matTooltip="Submit">
    <mat-icon>send</mat-icon>
  </button>
</form>

<mat-list *ngFor="let note of notes.reverse()" class="responsive-padding">
  <mat-card>
    <mat-card-subtitle>
      {{note.instant|date:'medium'}}&nbsp;&nbsp;(#{{note.number}})
      <button mat-icon-button [matMenuTriggerFor]="deleteMenu">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-menu #deleteMenu="matMenu" xPosition="before">
        <div class="menu-entry">Delete this note?</div>
        <button class="menu-entry" mat-raised-button (click)="deleteNote(note.number)">
          <mat-icon>check</mat-icon>
          Delete
        </button>
      </mat-menu>
    </mat-card-subtitle>
    <mat-card-content>
      <span class="multiline">{{note.text}}</span>
    </mat-card-content>
  </mat-card>
</mat-list>

