<mat-list *ngFor="let user of otherUsers; index as index">
  <mat-list-item>
    <span class="name {{user.canFollow ? null: 'followee'}}">{{user.name}}</span>
    <mat-checkbox [checked]="!user.canFollow" (change)="followingChanged(user, index, $event)" color="primary">
      Following
    </mat-checkbox>
  </mat-list-item>
</mat-list>
