.responsive-padding {
    padding: 12px clamp(4px, 8vw - 35px, 24px);
}

.list-entry {
    padding-bottom: 12px;
}

.header {
    display: flex;
    align-items: center;
    height: 24px;
}

.name {
    font-weight: bold;
}

.notes-available {
    flex: auto;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.end {
}
